@import "values.scss";
@import "global.scss";

.about-title,.about-icon{
  text-align:center;
}

.about-root{
  margin:1rem;
}

.about-text{
  margin-top:2.4rem;
  line-height:1.9rem;
  margin-bottom:2.4rem;
}

.about-heading{
  @include color-12();
  margin-left:2.1rem;
}

.about-warning{
  @include color-13();
}

.about-section-first, .about-section-second, .about-warning-section{
  @include bg-color-3();
  max-width:69rem;
  text-align:center;
  margin:0 auto;
  margin-bottom:4rem;
  padding-top:1rem;
  padding-bottom:4rem;
  padding-left:2rem;
  padding-right:2rem;
}

.about-section-first{
}

.about-section-first-text,.about-section-second-text,.about-warning-section{
  text-align:center;
}

.about-section-second{
}

.about-warning-section{
}