@import "./global.scss";

.blog-root{
  padding: 2rem;
  margin-top:1rem;
}

.blog-container{
  @include light-bg-color-2();

  @media screen and (max-width:$bp-large){
    max-width:800px;
  }
}

.blog-image-container{
  @media screen and (max-width:$bp-large){
    max-width:400px;
    vertical-align: bottom;
  }
}

.blog-image-container,.blog-detail-container{
  @media screen and (max-width:$bp-large){
    width:50%;
    display:inline-block;
  }
}

.blog-container{
  h2{
    padding-top:1rem;
    margin-right:1rem;
  }
  h2,p{
    margin-left:1rem;
  }
  p{
    margin-right:1rem;
  }
  .blog-page-link{
    display:block;
    text-align:right;
    @include hannah-1();
    color:black;
    font-family: "Courgette", monospace;
    padding-right: 0.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

}

.blog-detail-container{
  h2{
    @include color-4();
    font-size:4rem;
    @media screen and (max-width:$bp-med){
      font-size:2.5rem;
    }
  }
}

.blog-page-footer{
  margin-top:5rem;
}

@mixin hover-bar(){
  margin-right:3%;
  @media screen and (min-width:$bp-med){
    margin-right:10%;
  }
  position: fixed;
  right: 0;
  width: 280px;
  @media screen and (max-width:$bp-column){
    display:none;
  }
  display:inline-block;
}

.blog-hover-bar{
  top: 196.86px;
  height: 100%;
  @include hover-bar();
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blog-hover-bar-sticky{
  top:0;
  height: 100%;
  @include hover-bar();
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blog-hover-bar-sticky-btm{
  bottom:13.9%;
  height:86%;
  @include hover-bar();
}

.about-us-root{
  text-align:center;
}

.about-title{
  font-size:1.95rem;
}