@import "values.scss";
@import "global.scss";

.blog-page-root{
  margin-top:1.5rem;
  @media screen and (min-width:$bp-med){
    margin-top:3rem;
  }
  margin-left:5rem;
  margin-right:5rem;
  padding-bottom: 6rem;
}

.blog-page-link{
  display:block;
  a {
    @include color-7()
  }
  margin-top:3.6rem;
  font-size:1.75rem;
  text-align:center;
  @media screen and (max-width:$bp-med){
    font-size:1.1rem;
  }
}

.blog-page-header{
  text-align:center;
  h1{
    font-size:3.5rem;
    @media screen and (max-width:$bp-med){
      margin-top:3rem;
      font-size:2.5rem;
    }
    @include color-13()
  }
}

.blog-page-body{
  p{@include color-14();}
}

.blog-page-footer{
  margin-top:5rem;
  @media screen and(max-width:$bp-med){
    margin-top:2.5rem;
  }
}

.blog-page-image-container{

}

.blog-attrib-open{
  text-align: right;
}

.blog-image-attribution{
  a{
    @include color-5();
    font-size:13px;
  }
}

.blog-attrib-icon{
  margin-right: 5px;
  position: relative;
  top: 3px;
}