@import "values.scss";

.blog-page-root{
  margin-top:1.5rem;
  @media screen and (min-width:$bp-med){
    margin-top:3rem;
  }
  margin-left:5rem;
  margin-right:5rem;
  padding-bottom: 6rem;
}

.blog-page-image-container{
  box-shadow: 5px 10px 63px;
  @media screen and (max-width:$bp-med){
    box-shadow: 3px 6px 36px;
  }
}

.blog-attrib-open{
  text-align: right;
  width: 89%;
  position: absolute;
  z-index: 2;
}