@import "./global.scss";

.blog-root{
  padding: 2rem;
  margin-top:1rem;
  @media screen and (min-width:$bp-large) {
    width: 28%;
    display: inline-block;
  }

}

.blog-container{
  @include light-bg-color-2();
  /*max-width:800px;
  @media screen and (min-width:$bp-med) and (max-width:$bp-large){
   max-width:55rem;
  }
  @media screen and (min-width:$bp-large){
    max-width:1420px;
  }*/
}

.blog-image-container{
  max-width:100%;
  @media screen and (max-width:$bp-large){
    vertical-align: bottom;
  }
  @media screen and (min-width:$bp-large){
    max-height:286px;
    overflow:hidden;
  }
}

.blog-image-container,.blog-detail-container{
  /*@media screen and (min-width:$bp-med) and (max-width:$bp-large){
    width:54.5%;
    display:inline-block;
  }*/
}

.blog-container{
  h2{
    padding-top:1rem;
    margin-right:1rem;
  }
  h2,p{
    margin-left:1rem;
  }
  p{
    margin-right:1rem;
  }
  .blog-page-link{
    display:block;
    text-align:right;
    @include bg-color-7();
    @include color-5();
    font-family: "Courgette", monospace;
    padding-right: 0.6rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    line-height:38px;
  }

}

.blog-detail-container{
  text-align:center;
  h2{
    @include color-5();
    font-size:4rem;
    font-weight:800;
    @media screen and (max-width:$bp-med){
      font-size:2.5rem;
    }
    @media screen and(min-width:$bp-large){
      margin-block-start:0;
      margin-block-end:0;
    }
  }
  p{
    @include color-6();
  }
}

@mixin hover-bar(){
  margin-right:3%;
  @media screen and (min-width:$bp-med){
    margin-right:10%;
  }
  @media screen and (min-width:$bp-large){
    margin-right:4%;
  }
  @media screen and (min-width:$bp-mega){
    margin-right:7.3%;
  }
  position: fixed;
  right: 0;
  width: 280px;
  @media screen and (max-width:$bp-column){
    display:none;
  }
  display:inline-block;
}

.blog-hover-bar{
  top: 196.86px;
  height: 100%;
  @include hover-bar();
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blog-hover-bar-sticky{
  top:0;
  height: 100%;
  @include hover-bar();
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.blog-hover-bar-sticky-btm{
  bottom:13.9%;
  height:86%;
  @include hover-bar();
}

.about-us-root{
  text-align:center;
}

.about-title{
  font-size:1.95rem;
}