@import 'values.scss';
.modal-content img{
  margin:0 auto;
}

.flickity-viewport{
  height:420px!important;
  margin-top: 1rem;
}
.modal-content{
  text-align:center;
}
.modal{
  /*overflow-y:initial;*/
  max-height:85%;
  background-color:rgba(0,0,0,0);
}

.modal::-webkit-scrollbar {
  display: none;
}