.cart-row-item{
  display:block;
  text-align:center;
  margin-top:2rem;
}

.cart-header-item{
  margin-top:4rem;
}

.cart-left, .cart-mid, .cart-right, .cart-last{
  display:inline;
  margin-left:2rem;
}