@import "values.scss";
@import "global.scss";

//for actual cart (checkout) page

.cart-page-root{
  @include bg-color-9();
  max-width:32rem;
  margin:0 auto;
  text-align:center;
  margin-bottom:3.5rem;
}

.cart-row-item{
  @include color-8();
  display:block;
  text-align:center;
  margin-top:2rem;
}

.cart-delete-item{
  display:inline;
  margin-left:1.5rem;
}

.cart-delete-btn{
  background-color:rgba(0,0,0,0);
  border:none;
}

.checkout-cart-page-btn{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Courgette", monospace;
  font-size:1.75rem;
  padding-left:1.5rem;
  padding-right:1.5rem;
  @include bg-color-10();
  border:none;
  border-radius:5px;
  @include color-9();
}

.cart-header-item{
  margin-top:4rem;
  @include bg-color-8();
  @media screen and(max-width:$bp-med){
    margin-top:2rem;
  }
}

.cart-left, .cart-mid, .cart-right, .cart-last{
  display:inline;
  .header{
  margin-right:1rem;
  }
}

.cart-mid, .cart-right, .cart-last{
  margin-left:3rem;
}

.cart-total-line{
  .cart-last{
    margin-left:0;
  }
}


//for on-page cart widget

.cart-root{
  display: block;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
  @include shadow-color-1();
  @include bg-color-11();
  border-radius: 6px;
  margin-top: 1rem;
  @media screen and(max-width:$bp-small){
    max-width: 236px;
    max-height: 4.2rem;
  }
}

.view-cart-link{
  @include color-11();
  display:block;
  margin-top:1rem;
  @media screen and(max-width:$bp-small){
    margin-top:.45rem;
  }
}

.cart-widget-total-count{
  @include color-10();
}