@import "values.scss";
@import "global.scss";

//for actual cart (checkout) page

.cart-page-root{
  @include bg-color-9();
  max-width:66%;
  margin:0 auto;
  text-align:center;
  margin-bottom:3.5rem;
  margin-top:1rem;
  padding-bottom:1.2rem;
  @media screen and(max-width:$bp-med){
    max-width:88%;
  }
  @media screen and(max-width:$bp-small){
    max-width:95%;
  }
}

.cart-row-item{
  @include color-8();
  display:block;
  text-align:center;
  margin-top:2rem;
}

.cart-delete-item{
  display:inline;
  margin-left:1.5rem;
}

.cart-delete-btn{
  background-color:rgba(0,0,0,0);
  border:none;
}

.checkout-cart-page-btn{
  display:inherit;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Courgette", monospace;
  font-size:1.75rem;
  padding-left:1.5rem;
  padding-right:1.5rem;
  @include bg-color-10();
  border:none;
  border-radius:5px;
  @include color-9();
}

.cart-header-item{
  margin-top:4rem;
  @include bg-color-8();
  @media screen and(max-width:$bp-med){
    margin-top:2rem;
  }
}

.cart-left, .cart-mid, .cart-right, .cart-last{
  display:inline;
  .header{
  margin-right:1rem;
  }
}

.cart-mid, .cart-right, .cart-last{
  margin-left:3rem;
}

.cart-total-line{
  .cart-last{
    margin-left:0;
  }
}


//for on-page cart widget

.cart-root{
  display: block;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  margin-bottom: 1rem;
  @include shadow-color-1();
  @include bg-color-11();
  border-radius: 6px;
  margin-top: 1rem;
  @media screen and(max-width:$bp-small){
    max-width: 236px;
    max-height: 4.2rem;
    margin-top: 2rem;
    margin-bottom: 1.7rem;
  }
}

.view-cart-link{
  @include color-11();
  display:block;
  margin-top:1rem;
  @media screen and(max-width:$bp-small){
    margin-top:.45rem;
  }
}

.cart-widget-total-count{
  @include color-10();
}

//styles for checkout page

.order-form-submit{
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-family: "Courgette", monospace;
  font-size:1.75rem;
  padding-left:1.5rem;
  padding-right:1.5rem;
  @include bg-color-10();
  border:none;
  border-radius:5px;
  @include color-9();
}

form[name='bborder']{
  h3,h4{
    margin:0 auto;
    text-align:center;
  }

  .form-field-holder{
    width: 33%;
    margin: 1rem auto 0;
    display: block;
    @media screen and(max-width:$bp-med){
      width:45%;
    }
    @media screen and(max-width:$bp-small){
      width:80%;
    }
  }

  .city-state-holder,.country-zip-holder{
    width:33%;
    height:auto;
    margin: 0 auto;
    margin-top:1rem !important;
    display: block;
    @media screen and(max-width:$bp-med){
      width:45%;
    }
    @media screen and(max-width:$bp-small){
      width:80%;
    }
    .form-error-holder{
      display:inline;
    }
  }

  .fields-row-holder{
    width:100%;
    display:inline-block;
  }

  .errors-row-holder{
    width:100%;
    display:inline-block;
    @media only screen and(max-width:$bp-small){
      display:inline;
      height:0;
    }
    /*@media only screen and(min-width:$bp-med){

    }
    margin-bottom:.9rem;
    @media only screen and(min-width:$bp-small) {
      margin-bottom: .5rem;
    }*/
  }

  .form-error-msg {
    display: inline;
    position: relative;
    background-color: purple;
    top: 0.4rem;
    border-radius: 1rem;
    padding: .2rem;
    @media only screen and (max-width: $bp-small) {
      display:none;
    }
  }

  .form-error-msg-mobile{
    text-align: right;
    position: relative;
    top: -3.9rem;
    font-size: 1.3rem;
    right: -1.5rem;
    @media only screen and(min-width: $bp-small){
      display:none
    }
    &.country-error-msg,&.city-error-msg{
      top:-8.9rem;
    }
  }

  .form-error-btm-msg{
    @media only screen and(min-width:$bp-small){
      display:none;
    }
    text-align:center;
  }

  .state-msg{
    float:right;
    top: 0.2rem;
  }

  .zip-msg{
    float:right;
    top: 0.25rem;
  }

  input{
    width:100%;
    height: 1.8rem;
    font-size: 1.1rem;
    text-align: center;
    @media only screen and (max-width:$bp-small){
      width: 90%;
      height: 2rem;
      padding: 1rem;
      font-size:1.7rem;
    }
    &[name=city]{
      width:60%;
      @media only screen and (max-width: $bp-small) {
        width:90%;
      }
    }
    &[name=state]{
      width:24%;
      @media only screen and(min-width:$bp-small) {
        float: right;
        margin-right: 1rem;
      }
      @media only screen and (max-width: $bp-small) {
        width:90%;
        margin-top:1rem;
      }
    }
    &[name=zip]{
      width:33%;
      @media only screen and(min-width:$bp-small) {
        float: right;
      }
      @media only screen and (max-width: $bp-small) {
        width:90%;
        margin-top:1rem;
      }
    }
  }
  select{
    @media only screen and(min-width:$bp-small) {
      width: 60%;
    }
    height: 2.1rem;
    font-size:1.1rem;
    text-align:center;
    @media only screen and (max-width: $bp-small) {
      width: 99.3%;
      height: 3.6rem;
      font-size: 2.1rem;
    }
  }
}

.lds-heart {
  display: inline-block;
  position: relative;
  @media screen and(max-width:$bp-med){
    left:46%;
  }
  left:48%;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  @include bg-color-13();
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  @include bg-color-13();
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.shipping-modal-close-button{
  background:none;
  border:none;
  position:relative;
  left:98%;
}

.ReactModal__Content--after-open{
  padding-top:0 !important;
  overflow:hidden !important;
}

form[name=bbcheckout]{
  display:inline;
  .shipping-option-modal-open{
    background:none;
    border-radius:50px;
    border-style:solid;
    border-color:black;
  }
  .checkout-shipping-to-heading{
    @media screen and (min-width:$bp-small) {
      display: inline-block;
      width: 37%;
      vertical-align: top;
      margin-top: 1.5rem;
    }
    @media screen and(max-width:$bp-small){
      display:none;
    }
  }
  .checkout-shipping-to-heading-mobile{
    @media screen and(max-width:$bp-small){
      display:block;
      padding-top:.1rem;
    }
    @media screen and(min-width:$bp-small){
      display:none;
    }
  }
  .checkout-shipping-options,.checkout-order-message{
    margin-top:1.5rem;
  }
  .checkout-shipping-total{
    margin-top:1rem;
  }
  .shipping-option-single{
    margin-top:.5rem;
  }
  .shipping-amount-line{
    margin-left:7.5rem;
  }
  .checkout-top{
    margin-top:3rem;
  }
  input[type="radio"]{
    margin-right:1rem !important;
  }
  .checkout-shipping-to {
    display:inline-block;
    width:31%;
    @media screen and(min-width:$bp-small) {
      margin-top: 1.5rem;
    }
    input,
    label,
    select,
    button,
    textarea {
      margin: 0;
      border: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      background: none;
      line-height: 1;
      width:100%;

      /* Browsers have different default form fonts */
      font-size: 1rem;
      font-family: 'Imprima', sans-serf;
    }

    /* Remove the stupid outer glow in Webkit */
    input:focus {
      outline: 0;
    }

    /* Box Sizing Reset
    -----------------------------------------------*/

    /* All of our custom controls should be what we expect them to be */
    input,
    textarea {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }

    /* These elements are usually rendered a certain way by the browser */
    button,
    input[type=reset],
    input[type=button],
    input[type=submit],
    input[type=checkbox],
    input[type=radio],
    select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    /* Text Inputs
    -----------------------------------------------*/

    input[type=date],
    input[type=datetime],
    input[type=datetime-local],
    input[type=email],
    input[type=month],
    input[type=number],
    input[type=password],
    input[type=range],
    input[type=search],
    input[type=tel],
    input[type=text],
    input[type=time],
    input[type=url],
    input[type=week] {
    }

    /* Button Controls
    -----------------------------------------------*/

    input[type=checkbox],
    input[type=radio] {
      width: 13px;
      height: 13px;
    }

    /* File Uploads
    -----------------------------------------------*/

    input[type=file] {

    }

    /* Search Input
    -----------------------------------------------*/

    /* Make webkit render the search input like a normal text field */
    input[type=search] {
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
    }

    /* Turn off the recent search for webkit. It adds about 15px padding on the left */
    ::-webkit-search-decoration {
      display: none;
    }

    /* Buttons
    -----------------------------------------------*/

    button,
    input[type="reset"],
    input[type="button"],
    input[type="submit"] {
      /* Fix IE7 display bug */
      overflow: visible;
      width: auto;
    }

    /* IE8 and FF freak out if this rule is within another selector */
    ::-webkit-file-upload-button {
      padding: 0;
      border: 0;
      background: none;
    }

    /* Textarea
    -----------------------------------------------*/

    textarea {
      /* Move the label to the top */
      vertical-align: top;

      /* Turn off scroll bars in IE unless needed */
      overflow: auto;
    }

    /* Selects
    -----------------------------------------------*/

    select {

    }

    select[multiple] {
      /* Move the label to the top */
      vertical-align: top;
    }

    input,select{
      display:block;
      margin-left:0;
    }
    select::-ms-expand {	display: none; }
    select{
      -webkit-appearance: none;
      appearance: none;
    }
  }
}
