@import "./global.scss";
.category-root{
  margin: 0 auto;
  @media screen and (min-width:$bp-small) {
    padding: 1rem 1rem 2rem 2rem;
    margin: 2rem;
  }
}
.category-holder{
  display:inline;
  li{
    margin-bottom:2rem;
    display:inline-block;
    margin-right:1.5%;
    width:30%;
    @media screen and (max-width:$bp-small) {
      display:inline;
      text-align:center;
      margin-bottom:4rem;
    }
  }
}
.category-title{
  @media screen and (min-width:$bp-small) {
    margin-bottom: 3rem;
  }
  font-size: 2.4rem;
  text-align:center;

  @media screen and (max-width:$bp-small){
    text-align:center;
    margin-bottom:.2rem;
    margin-top:1.2rem;
  }
}

.category-header a{
  text-align:center;
  display:block;
  @media screen and (max-width:$bp-small){
    width:75%;
  }
}

.category-header{
  padding:1rem;
  @media screen and(max-width:$bp-small){
    margin: 1rem;
  }
  .add-to-cart{
    cursor:pointer;
    display:block;
    margin:0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: "Courgette", monospace;
    font-size:1.75rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    @include bg-color-10();
    border:none;
    border-radius:5px;
    @include color-9();
  }
}
.product-image-bg{
  background-color:rgba(0,0,0,.3);
  padding-top:1rem;
  padding-bottom:1rem;
}

.category-product-img{
  @media screen and (min-width:$bp-small) {
    width: 54%;
    margin: 0 auto;
    height: 300px;
  }
  @media screen and (max-width:$bp-small){
    //width: 42%;
    //left: 46%;
    height: 13rem;
  }
  padding-top:1rem;
  padding-bottom:1rem;
  margin-bottom:.6rem;
}

.modal-product-contents{
  width:100%;
  height:100%;
  display:flex;
  @media screen and(max-width:$bp-small) {
    display: block;
    overflow-y:scroll;
  }
}

.modal-product-img{
  /*@media screen and(max-width:$bp-small){
    width:36%;
    height:17rem;
  }
  width:14%;*/
  //width:50%;
  width:100%;
  height:320px;
  margin-right:10px;
}

.modal-small-nav-img{
  width:25%;
  height:84px;
  margin-right:10px;
}

.modal-product-images{
  flex:35%;
  margin-top:3%;
  @media screen and(max-width:$bp-small) {
    display: block;
  }
}

.bath-description{
  margin-left:2%;
}
.product-subtitle{
  background-color:rgba(255,255,255,.6);
  padding-top:.2rem;
  padding-left:1rem;
  padding-right:1rem;
  text-align:center;
}
.product-image-subtitle-link{
  cursor:pointer;
}
.modal-product-name{
  font-size:1.4rem;
  font-weight:600;
  display:inline;
}
.modal-product-price{
  display:inline;
  margin-left:1rem;
  position:relative;
  bottom:.3rem;
}
.modal-product-description{
  display:block;
  margin-top:1rem;
  margin-bottom:1rem;
}
.modal-product-long-description{
  margin-left: 1rem;
  flex:58%;
  white-space:normal;
  @media screen and(max-width:$bp-small){
    display:block;
    width:95%;
  }

}
.category-product-name{
  display:inline;
  //cursor:pointer;
  font-size:2.4rem;
  font-weight:600;
  font-family: "Bad Script", cursive
}
.category-price{
  display:inline;
  float:right;
}

.tabs-container{
  padding-top:1rem;
}

.tabs-content{
  padding-top:1rem;
  background-color:green;
  min-width:300px;
  max-width:350px;
  min-height:300px;
}

.tabs-top-holder input[type=checkbox]{
  display:none;
}

#tabs-top-first:checked + label .banshee-tab, #tabs-top-second:checked + label .banshee-tab, #tabs-top-third:checked + label .banshee-tab{
  background-color:blue;
}

.tabs-top-holder{
  margin-bottom:2rem;
}

.banshee-tab{
  display:inline;
  margin-left:1rem;
  background-color: rgba(0,0,1,.5);
  padding:1rem;
}

.ReactModal__Content--after-open{
  @media screen and(max-width:$bp-small){
    width: 27.5rem!important;
    height: 83%!important;
  }
  @media screen and (min-width:$bp-small) {
    width: 75rem!important;
    height: 36rem;
  }
}
