@import "./global.scss";
.category-root{
  margin: 0 auto;
  @media screen and (min-width:$bp-small) {
    padding-top:1rem;
    padding-bottom:2rem;
    margin-top:2rem;
    margin-bottom:2rem;
  }
}
.category-holder{
  display:inline;
  li{
    margin-bottom:2rem;
    display:inline-block;
    width:30%;
    @media screen and (max-width:$bp-small) {
      display:inline;
      text-align:center;
      margin-bottom:4rem;
    }
  }
}
.category-title{
  @media screen and (min-width:$bp-small) {
    margin-bottom: 3rem;
  }
  font-size: 2.4rem;
  text-align:center;

  @media screen and (max-width:$bp-small){
    text-align:center;
    margin-bottom:.2rem;
    margin-top:1.2rem;
  }
}

.category-header a{
  text-align:center;
  display:block;
  @media screen and (max-width:$bp-small){
    width:75%;
  }
}

button.add-to-cart{
  font-size: 1.6rem;
  font-weight: 800;
  background: none;
  border-style: double;
  border-width: 0.3rem;
  font-family: Arima Madurai, monospace;
  @include color-13();
  @include bg-color-13-gradient();
  border-color:black;
  cursor:pointer;
}

.category-add-to-cart{
  button.add-to-cart{
    flex:43;
    margin-top:2.7rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
  }
}

.category-header{
  padding:1rem;
  @media screen and(max-width:$bp-small){
    margin: 1rem;
  }
  /*.add-to-cart{
    cursor:pointer;
    display:block;
    margin:0 auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: "Courgette", monospace;
    font-size:1.75rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    @include bg-color-10();
    border:none;
    border-radius:5px;
    @include color-9();
  }*/

}
.product-image-bg{
  cursor:pointer;
  background-color:white;
  padding-top:1rem;
  padding-bottom:1rem;
}

.category-product-img{
  @media screen and (min-width:$bp-small) {
    width: 54%;
    margin: 0 auto;
    height: 300px;
  }
  @media screen and (max-width:$bp-small){
    //width: 42%;
    //left: 46%;
    height: 13rem;
  }
  padding-top:1rem;
  padding-bottom:1rem;
  margin-bottom:.6rem;
}

.category-product-name-text{
  cursor:pointer;
}

.modal-product-contents{
  width:100%;
  height:100%;
  display:flex;
  @media screen and(max-width:$bp-small) {
    display: block;
    overflow-y:scroll;
    height:92%;
  }
}

.modal-product-img{
  width:100%;
  height:320px;
  margin-right:10px;
}

.modal-small-nav-img{
  width:25%;
  height:84px;
  margin-right:10px;
}

.modal-product-images{
  flex:35%;
  margin-top:3%;
  @media screen and(max-width:$bp-small) {
    display: block;
  }
}

.bath-description{
  margin-left:2%;
}
.product-subtitle{
  background-color:rgba(255,255,255,.6);
  padding-top:.2rem;
  display:flex;

}
.product-image-subtitle-link{
  cursor:pointer;
}
.modal-product-name{
  font-size:3.8rem;
  font-weight:600;
  display:inline;
}
.modal-product-price{
  display: inline;
  margin-left: 3rem;
  position: relative;
  bottom: .3rem;
  font-size: 1.5rem;
}
.modal-product-description{
  display:block;
  margin-top:1rem;
  margin-bottom:1rem;
}
.modal-product-long-description{
  margin-left: 1rem;
  flex:58%;
  white-space:normal;
  @media screen and(max-width:$bp-small){
    display:block;
    width:95%;
    margin-top:1rem;
  }

}
.category-product-name{
  font-size:2.4rem;
  font-weight:600;
  flex:21;
  margin-top: .2rem;
  margin-left: 0.5rem;
}
.category-price{
  flex:11;
  margin-top: 1.2rem;
}

.modal-carousel{
  @media screen and(min-width:$bp-small) {
    button {
      display:none;

    }
  }
}

.modal-carousel-nav{
  margin-top:2rem;
  @media screen and(max-width:$bp-small){
    display:none;
  }
}

.tabs-container{
  padding-top:1rem;
}

.tabs-content{
  @include bg-color-11();
  min-width:300px;
  max-width:33rem;
  min-height:300px;
  padding:2.5rem;
  color:black;
  margin-bottom:5rem;
}

.tabs-top-holder input[type=checkbox]{
  display:none;
}

#tabs-top-first:checked + label .banshee-tab, #tabs-top-second:checked + label .banshee-tab, #tabs-top-third:checked + label .banshee-tab{
  @include bg-color-14();
}

.tabs-top-holder{
  margin-bottom:2rem;
  margin-top:1rem;
}

.banshee-tab{
  display:inline;
  margin-left:1rem;
  @include bg-color-12();
  color:black;
  padding:1rem;
  cursor:pointer;
  font-weight:600;
}


#tabs-top-first:checked + label .banshee-tab .banshee-tab-info, #tabs-top-second:checked + label .banshee-tab .banshee-tab-info, #tabs-top-third:checked + label .banshee-tab .banshee-tab-info{
  @include color-9();
}

.modal-description-left, .modal-description-right{
  display:inline;
}

.modal-description-right{
  float:right;
  button.add-to-cart{
    padding-left:1rem;
    padding-right:1rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
    margin-right: 7.4rem;
    @media screen and(max-width:$bp-small){
      margin-top:.5rem;
      margin-bottom:2rem;
    }
  }
}

.ReactModal__Overlay--after-open{
  z-index:4;
}

.ReactModal__Content--after-open{
  z-index:4;
  padding:0;
  @media screen and(max-width:$bp-small){
    width: 27.5rem!important;
    height: 92%!important;
  }
  @media screen and (min-width:$bp-small) {
    width: 75rem!important;
    height: 36rem;
  }
  /* Copy-pasted webkit scrollbar styles */
  ::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    @include bg-color-7();
    margin-left:1rem;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
}
