@import "./global.scss";
.category-root{
  max-width:400px;
  @media screen and (max-width:$bp-large){
    max-width:800px;
  }
  margin: 0 auto;
}
.category-holder{
  max-width:400px;
  @media screen and (max-width:$bp-large){
    max-width:800px;
  }
  display:inline;
  li{
    margin-bottom:2rem;
    display:inline;
    margin-right:1rem;
  }
}
.category-title{
  margin-bottom: 3rem;
}

.category-header a{
  padding:1rem;
  text-align:center;
  border-style:solid;
  border-width:medium;
  display:inline;
  @media screen and (max-width:$bp-small){
    width:75%;
  }
}

.category-header{
  display: inline;
}

.category-root{
  border-style: solid;
  padding: 1rem 1rem 2rem 2rem;
}