@import 'global.scss';

.contact-root{
  margin: 0 auto;
  text-align: center;

  input{
    text-align: center;
    width: 27rem;
    height: 4.7rem;
    @media screen and (max-width:$bp-small){
      width:90%;
    }
  }

  ::placeholder{
    @media screen and (max-width:$bp-small){
      font-size:.3rem;
    }
  }

  textarea{
    width: 50rem;
    height: 15rem;

    @media screen and (max-width:$bp-small){
      width:90%;
      height:20rem;
    }

    &::placeholder{
      padding-left:3rem;
      padding-right:2rem;
      padding-top:2rem;
    }
  }

  .contact-us-submit{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: "Courgette", monospace;
    font-size:1.75rem;
    padding-left:1.5rem;
    padding-right:1.5rem;
    @include bg-color-10();
    border:none;
    border-radius:5px;
    @include color-9();
  }

  input, textarea{

    margin-bottom:2rem;

    font-size:2rem;
    font-family:"Arima Madurai";

    &::placeholder{
      font-size:2rem;
    }
    &:focus{
      font-size:2rem;
    }
  }

  form{
    padding-top: 1rem;

    div{
      @include color-6();
      font-size:1.9rem;
    }
  }
}

.contact-title{
  font-size: 4rem;
  margin-top: .3rem;
  margin-bottom: 0.2rem;
}

.contact-success{
  margin-top:11rem!important;
}