@import 'values.scss';
@import 'node_modules/materialize-css/sass/materialize.scss';


@mixin color-1() {
    color:#7f167f38;
}
@mixin color-2() {
    color:rgba(139, 249, 124, 1);
}
@mixin color-3() {
    color: #8f15d2;
}
//MAIN BODY TEXT COLOR
@mixin color-4() {
    color:#fe02fe;
}
//blog highlight header color, go to blog link
@mixin color-5() {
    color:#8f15d2;
}
//blog highlight body color, main (default) link color
@mixin color-6(){
    color:#7666e5;
}
@mixin color-7(){
    color:rgba(240,140,174,.86)!important;
}

@mixin bg-color-1() {
    background-color: #b1f5ff;
}
@mixin bg-color-2() {
    background-color:rgba(139, 249, 124, 1) !important;
}
@mixin bg-color-3() {
    background-color:#24fb9d !important;
}
@mixin bg-color-4() {
    background-color:#95ecff !important;
}
@mixin bg-color-5() {
    background-color:rgba(0, 16, 17, 1) !important;
}
@mixin bg-color-6(){
    background-color:#43a057;
}
@mixin bg-color-7(){
    background-color:rgba(77,245,46,.76)!important;
}

@mixin light-bg-color-1() {
    background-color:rgba(255,255,255, .1);
}
@mixin light-bg-color-2() {
    background-color: #ffc8ef;
}
@mixin light-bg-color-3() {
    background-color:rgba(255,255,255, .3);
}
@mixin light-bg-color-4() {
    background-color:rgba(255,255,255, .4);
}
@mixin light-bg-color-5() {
    background-color:rgba(255,255,255, .5);
}

//Color from which the logo transition starts on
@mixin wavy-color-finish() {
    background-color:rgba(0,0,0,.2);
}

@mixin wavy-color-start() {
    background-color:rgba(0,0,0,.8);
}

/*.wavy-start{
    @include wavy-color-start();
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
}

.wavy-finish{
    @include wavy-color-finish();
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
}*/

.wavy-start{
    @include wavy-color-start();
    transition-timing-function: linear;
    transition: 5s;
}

.wavy-finish{
    @include wavy-color-finish();
    transition-timing-function: linear;
    transition: 5s;
}

@mixin nav-gutters() {
    margin-left:25rem;
    margin-right:25rem;
}

@mixin some-margin(){
    margin: 1.5rem;
}

@mixin ultimate-center(){
    margin:0 auto;
    text-align:center;
}

h1{
    @media screen and (max-width:$bp-small){
        font-size:2.75rem;
        margin-top:0;
    }
}

.btn, .btn-small{
    @include bg-color-5();
}

h1,h2,h3{
    font-family: 'Arima Madurai', cursive;
}

h2{
    font-size:2rem;
}

a{
    font-family: 'Bad Script', cursive;
}

h4,h5,p,div,body{
    font-family: 'Imprima', sans-serif;
}

body{
    @include bg-color-1();
    @include color-4();
}

a{
    @include color-6();
}

nav, .footer-root{
    @include bg-color-3;
}

.nav-root, .footer-root{
    display:flex;
    @media screen and (min-width:$bp-large) {
        @include nav-gutters();
    }
}

.page-root{
    @media screen and (min-width:$bp-large){
        margin-left:5%;
        margin-right:5%;
    }
    @media screen and (min-width:$bp-mega){
        margin-left:10%;
        margin-right:10%;
    }
}

.footer-copyright{
    @include ultimate-center();
    padding:3rem;
    @include color-3();
}

.nav-link{
    font-size:1.75rem;
    margin-right:1.5rem;
    @include color-3();
}

.nav-container{
    text-align:center;
    display: block;
    position:absolute;
    padding: 6.5% 0;
    @media screen and (max-width:$bp-med){
        display:none;
    }
}

.nav-left{
    @media screen and (min-width:$bp-med){
        left:9rem;
    }
}

.nav-right{
    @media screen and (min-width:$bp-med){
        right:9rem;
    }
}

.nav-mobile-btn{
    display:none;
    @media screen and (max-width:$bp-med){
        display:block;
        position:absolute;
        top:6rem;
        right:2rem;
        a, svg{
            width:2rem;
            height:2rem;
        }
    }
}

.nav-mobile-menu{
    display:none;
}

.opened{
    @media screen and (max-width:$bp-small){

            display:block;

    }
}
.closed{

}

.nav-icon{
    width:358px;
    margin: 0 auto;
    padding-left: 1.7rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    border-radius: 3rem;
    margin-top: 1rem;
    @media screen and (max-width:$bp-med){
        padding-top:1rem;
    }
}

.nav-separator{
    margin-right:1.4rem;
    padding-bottom:.3rem;
}

.collage-container{
    text-align:center;
}

.collage-root{
    display:inline-flex;
    flex-direction:column;
    vertical-align: top;
    @media screen and (max-width:$bp-small){
        width:100%;
    }
    width:333px;
    @media screen and (min-width:$bp-large) {
        width: 400px;
    }
}

.collage-child{
    margin: 1rem;
    justify-content: center;
}

.collapsible-header{
    @include bg-color-1();
}

.center-splash{
    @include color-2();
    text-shadow: 2px 2px white;
    @include ultimate-center();
    padding:4rem;
}