@import 'values.scss';
@import 'node_modules/materialize-css/sass/materialize.scss';

@mixin color-1() {
    color:rgba(66, 0, 57, 1);
}
@mixin color-2() {
    color:rgba(139, 249, 124, 1);
}
@mixin color-3() {
    color:rgba(240, 140, 174, 1);
}
@mixin color-4() {
    color:rgba(112, 205, 255, 1);
}
@mixin color-5() {
    color:rgba(0, 16, 17, 1);
}
@mixin bg-color-1() {
    background-color:rgba(66, 0, 57, 1);
}
@mixin bg-color-2() {
    background-color:rgba(139, 249, 124, 1);
}
@mixin bg-color-3() {
    background-color:rgba(240, 140, 174, 1);
}
@mixin bg-color-4() {
    background-color:rgba(112, 205, 255, 1);
}
@mixin bg-color-5() {
    background-color:rgba(0, 16, 17, 1);
}

@mixin nav-gutters() {
    margin-left:25rem;
    margin-right:25rem;
}

/*h1{
    font-family: 'Arima Madurai', cursive;
}

h2,a{
    font-family: 'Bad Script', cursive;
}

h3,h4,h5,p,div,body{
    font-family: 'Imprima', sans-serif;
}*/

body{
    @include bg-color-1();
    @include color-4();
}

a{
    @include color-2();
}

.nav-root{
    display:flex;
    border-bottom: 1px solid #d1c1e0;
    @media screen and (min-width:$bp-large) {
        @include nav-gutters();
    }
}

.page-root{
    @media screen and (min-width:$bp-large){
        margin-left:5%;
        margin-right:5%;
    }
    @media screen and (min-width:$bp-mega){
        margin-left:10%;
        margin-right:10%;
    }
}

.nav-link{
    font-size:1.75rem;
    margin-right:1rem;
}

.nav-container{
    flex-grow: 8;
    display: flex;
    justify-content: flex-end;
}

.nav-icon{
    flex-grow:1;
}

.collage-container{
    text-align:center;
}

.collage-root{
    display:inline-flex;
    flex-direction:column;
    vertical-align: top;
    @media screen and (max-width:$bp-small){
        width:100%;
    }
    width:333px;
    @media screen and (min-width:$bp-large) {
        width: 400px;
    }
}

.collage-child{
    margin: 1rem;
    justify-content: center;
}

.collapsible-header{
    @include bg-color-1();
}


/*@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8);
    }
    30%
    {
        -webkit-transform: scaleX(-.8);
        transform: scaleX(-.8);
    }
    50%
    {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8);
    }
    65%
    {
        -webkit-transform: scaleX(-.8);
        transform: scaleX(-.8);
    }
    80%
    {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85);
    }
    100%
    {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}*/
@keyframes swing
{
    15%
    {
        -webkit-transform: scaleX(.975) scaleY(.975);
        transform: scaleX(.975) scaleY(.975);
    }
    30%
    {
        -webkit-transform: scaleX(.95) scaleY(.95);
        transform: scaleX(.95) scaleY(.95);
    }
    50%
    {
        -webkit-transform: scaleX(.925) scaleY(.925);
        transform: scaleX(.925) scaleY(.925);
    }
    65%
    {
        -webkit-transform: scaleX(.9) scaleY(.9);
        transform: scaleX(.9) scaleY(.9);
    }
    80%
    {
        -webkit-transform: scaleX(.85) scaleY(.85);
        transform: scaleX(.85) scaleY(.85);
    }
    100%
    {
        -webkit-transform: scaleX(.8) scaleY(.8);
        transform: scaleX(.8) scaleY(.8);
    }
}

@keyframes swing-reverse
{
    100%
    {
        -webkit-transform: scaleX(1) scaleY(1);
        transform: scaleX(1) scaleY(1);
    }
    80%
    {
        -webkit-transform: scaleX(.95) scaleY(.95);
        transform: scaleX(.95) scaleY(.95);
    }
    65%
    {
        -webkit-transform: scaleX(.925) scaleY(.925);
        transform: scaleX(.925) scaleY(.925);
    }
    50%
    {
        -webkit-transform: scaleX(.9) scaleY(.9);
        transform: scaleX(.9) scaleY(.9);
    }
    30%
    {
        -webkit-transform: scaleX(.85) scaleY(.85);
        transform: scaleX(.85) scaleY(.85);
    }
    15%
    {
        -webkit-transform: scaleX(.8) scaleY(.8);
        transform: scaleX(.8) scaleY(.8);
    }
}

/*.swing{
    -webkit-animation: swing-reverse .5s ease forwards;
    animation: swing-reverse .5s ease forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}*/

.swing{
    -webkit-animation: swing .5s ease forwards;
    animation: swing .5s ease forwards;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}