@import 'values.scss';

//not used
@mixin color-1() {
    color:#7f167f38;
}
//splash screen welcome text color
@mixin color-2() {
    color:rgba(139, 249, 124, 1);
}
//footer copyright and nav link item text color
@mixin color-3() {
    color: #8f15d2;
}
//MAIN BODY TEXT COLOR
@mixin color-4() {
    color:#fe02fe;
}
//blog 'go to blog' link color
@mixin color-5() {
    color: rgba(65, 222, 214, 0.97);
}
//blog highlight body color, main (default) link color
@mixin color-6(){
    color: #b347ed;
}
//blog item -- title text color
@mixin color-12(){
    color: rgba(83, 232, 108, 0.91);
}
//blog page header text color
@mixin color-13(){
    color: rgba(157, 72, 178, 0.91);
}
//blog page body text color
@mixin color-14(){
    color: rgba(222, 111, 164, 0.91);
}
//blog view product link color
@mixin color-7(){
    color: rgba(129, 96, 180, 0.91) !important;
}
//cart page -- text color for each row
@mixin color-8(){
    color: rgba(5, 136, 125, 0.91);
}
//cart page -- checkout button text color
@mixin color-9(){
    color:white;
}
//cart on every page -- items count text color
@mixin color-10(){
    color: #f252bb;
}
//cart on every page -- view cart link color
@mixin color-11(){
    color: #441744;
}

//default background color -- not used rn
@mixin bg-color-1() {
    background-color: #b1f5ff;
}
//not used
@mixin bg-color-2() {
    background-color:rgba(139, 249, 124, 1) !important;
}
//copyright footer area background color
@mixin bg-color-3() {
    background-color:#24fb9d !important;
}
//not used
@mixin bg-color-4() {
    background-color:#95ecff !important;
}
//default btn background color
@mixin bg-color-5() {
    background-color:rgba(0, 16, 17, 1) !important;
}
//not used
@mixin bg-color-6(){
    background-color:#43a057;
}
//bottom blog item -- 'go to blog' link background color
@mixin bg-color-7(){
    background-color: rgba(170, 29, 245, 0.76) !important;
}
// on cart page, background color for the header row
@mixin bg-color-8(){
    background-color: rgba(242, 248, 64, 0.75);
}
// on cart page, background color for cart table section
@mixin bg-color-9(){
    background-color: rgba(229, 137, 197, 0.47) !important;
}
//background for cart page 'checkout' page
@mixin bg-color-10(){
    background-color: rgba(236, 101, 162, 0.63);
}
//background color for the cart widget at the top of every page (when you have an item)
@mixin bg-color-11(){
    background-color: rgb(111, 245, 128);
}
//mobile menu background color
@mixin bg-color-12(){
    background: linear-gradient(45deg, #e0bdf9,#ffc8ef);
}
@mixin bg-color-13(){
    background: rgb(236, 101, 162);
}
//shadow color for cart widget at top of every page
@mixin shadow-color-1(){
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
}
//blog item container background color
@mixin light-bg-color-2() {
    background-color: rgba(244, 173, 224, 0.98);
}

//Color from which the logo transition starts on
@mixin wavy-color-finish() {
    background-color: #520457;
}

@mixin wavy-color-start() {
    background-color: rgba(0, 0, 0, 0.89);
}

.wavy-start{
    @include wavy-color-start();
    transition-timing-function: linear;
    transition: 5s;
}

.wavy-finish{
    @include wavy-color-finish();
    transition-timing-function: linear;
    transition: 5s;
}

@mixin nav-gutters() {
    margin-left:25rem;
    margin-right:25rem;
}

@mixin nav-gutters-large() {
    margin: 0 auto;
}

@mixin some-margin(){
    margin: 1.5rem;
}

@mixin ultimate-center(){
    margin:0 auto;
    text-align:center;
}

@mixin light-bg-color-1() {
    background-color:rgba(255,255,255, .1);
}
@mixin light-bg-color-3() {
    background-color:rgba(255,255,255, .3);
}
@mixin light-bg-color-4() {
    background-color:rgba(255,255,255, .4);
}
@mixin light-bg-color-5() {
    background-color:rgba(255,255,255, .5);
}

h1{
    @media screen and (max-width:$bp-small){
        font-size:2.75rem;
        margin-top:0;
    }
}

.btn, .btn-small{
    @include bg-color-5();
}

h1,h2,h3{
    font-family: 'Arima Madurai', cursive;
}

h2{
    font-size:2rem;
}

a{
    font-family: 'Bad Script', cursive;
    text-decoration-line:none;
}

h4,h5,p,div,body{
    font-family: 'Imprima', sans-serif;
}

body{
    @include bg-color-1();
    @include color-4();
    margin:0;
}

a{
    @include color-6();
}

nav, .footer-root{
    @include bg-color-3;
}

.nav-root, .footer-root{
    display:flex;
}

.page-root{
    @media screen and (min-width:$bp-large){
        margin-left:5%;
        margin-right:5%;
    }
    @media screen and (min-width:$bp-mega){
        margin-left:10%;
        margin-right:10%;
    }
}

.footer-copyright{
    @include ultimate-center();
    padding:3rem;
    @include color-3();
}

.nav-link{
    font-size:1.75rem;
    margin-right:1.5rem;
    @include color-3();
}

.nav-container{
    text-align:center;
    display: block;
    position:absolute;
    padding: 6.5% 0;
    @media screen and (max-width:$bp-med){
        display:none;
    }
}

.nav-left{
    @media screen and (min-width:$bp-med){
        left:9rem;
    }
}

.nav-right{
    @media screen and (min-width:$bp-med){
        right:4.1rem;
    }
    @media screen and (min-width:$bp-large){
        right:9rem;
    }
}

.nav-mobile-btn{
    display:none;
    @media screen and (max-width:$bp-med){
        display:block;
        position:absolute;
        top:6rem;
        right:2rem;
        z-index:3;
        a, svg{
            width:2rem;
            height:2rem;
        }
    }
}

.nav-mobile-menu{
    display:none;
}
.nav-mobile-menu-item{
    display:block;
    a{
        margin-left: 0.5rem;
        position: relative;
        top: 0.1rem;
        text-shadow: 1px 1px #00000055;
    }
}
.opened{
    @media screen and (max-width:$bp-med){
        z-index: 2;
        position: absolute;
        display: block;
        top: 1.4rem;
        border-radius: 17px;
        border-top-right-radius: 48px;
        border-bottom-right-radius: 25px;
        width: 11rem;
        right: 1.6rem;
        padding: 1rem;
        @include bg-color-12()
    }
}
.closed{
    @media screen and (max-width:$bp-med){
        display:none;
    }
}

.nav-icon{
    width:358px;
    margin: 0 auto;
    padding-left: 1.7rem;
    padding-right: 1rem;
    padding-top: 0.8rem;
    padding-bottom: 1rem;
    border-radius: 3rem;
    margin-top: 1rem;
    @media screen and (max-width:$bp-med){
        padding-top:1rem;
    }
}

.nav-separator{
    margin-right:1.4rem;
    padding-bottom:.3rem;
}

.collage-container{
    text-align:center;
}

.collage-root{
    display:inline-flex;
    flex-direction:column;
    vertical-align: top;
    @media screen and (max-width:$bp-small){
        width:100%;
    }
    width:333px;
    @media screen and (min-width:$bp-large) {
        width: 400px;
    }
}

.collage-child{
    margin: 1rem;
    justify-content: center;
}

.center-splash{
    @include color-2();
    text-shadow: 2px 2px white;
    @include ultimate-center();
    padding:4rem;
}