.welcome-overlay{
  color:white;
  text-shadow: 1px 1px 2px #0c1723;
  font-size:2rem;
  margin-left:25%;
  margin-right: 25%;
  line-height: 3rem;
}

.welcome-section{
  text-align:center;
}

.welcome-link{
  font-family: Imprima, sans-serif;
  color: #ffa353;
}

.welcome-image{
  position: relative;
  top: -15rem;
  z-index: 0;
}